:root {
    --primary-color: #ffffff;
    --accent1-color: #4390c4;
    --accent2-color: #18405a;
    --heading-font: "Tahoma";
    --body-font: "Arial"
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0px auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 15px;
    text-align: center;
}

h2 {
    background-color: var(--accent1-color);
}

nav,
p,
section,
article {
    padding: 20px;
    color: black;
}

.socialmedia {
    position: absolute;
    padding: 0;
    right: 50px;
}

.socialmedia a {
    text-decoration: none;
    margin: 2px;
}

.socialmedia img {
    width: 35px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 5px;
    width: 100%;
    padding: 16px;
    text-align: center;
    color: var(--primary-color);
    background-color: #4390c4c9;
}

.hero article {
    position: absolute;
    top: 380px;
    left: 15px;
    width: 96%;
    background-color: #4390c4d3;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article p {
    color: var(--primary-color);
}

header {
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}

header img {
    width: 200px;
    height: auto;
    padding: 10px;
}

header nav {
    display: flex;
}

header nav a {
    text-decoration: none;
    border: 1px solid var(--accent2-color);
    background-color: white;
    padding: 8px 25px;
}

header,
footer,
section,
.hero {
    margin: 15px auto;
    border: 1px solid var(--accent2-color);
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;

}

.history h2 {
    grid-column: 1/4;
}

.history img {
    max-width: 200px;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.adventure h2 {
    grid-column: 1/6;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;

}

figure img {
    max-width: 130px;
    height: auto;
}

figcaption {
    padding: 5px 0;
}

footer {
    position: relative;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}