:root {
    --color1: black
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--color1);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

main {
    max-width: 100%;
}

aside {
    position: relative;
    width: 50rem;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 310px;
    color: white;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid var(--color1);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

footer {
    margin-top: 40px;
    border-top: 2px solid rgb(0 0 0 / 0.5);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.5);
    padding: 1rem;
    background-color: lightblue;
    color: black
}